body {
  font-family: var(--main-font);
}
.address {
  font-style: normal;
}

.portfolio-title,
.button-title,
.work-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu,
.addres-menu,
.work-list,
.about-list,
.team-list,
.contact-list,
.button-list,
.portfolio-list,
.social-list,
.footer-social-list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}

img {
  display: block;
}
